.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #fff9ec;
  flex-direction: column;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  position: relative;
  z-index: 2;
  height: 79vh;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.logoContainer img {
  height: 60px;
}

.title {
  font-size: 40px;
  text-align: center;
  letter-spacing: -2%;
  line-height: 44px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  flex: none;
  margin-bottom: 2px;
}

.decorationTop {
  position: absolute;
  width: 140px;
  height: 130px;
  background: linear-gradient(
    218.41deg,
    rgba(242, 127, 12, 0.57) 50.04%,
    rgba(247, 173, 25, 0) 93.35%
  );
  border-radius: 50px 12px 60px;
  z-index: 0;
  top: 70px;
  right: 0px;
}

.decorationBottom {
  position: absolute;
  width: 140px;
  height: 130px;
  background: linear-gradient(
    152.49deg,
    #f27f0c -11.42%,
    rgba(242, 127, 12, 0) 118.1%
  );
  border-radius: 50px 60px 12px 60px;
  z-index: -1;
  bottom: 0px;
  left: 0px;
}

.container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background: #ffffff;
  margin-top: 20px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.2);
  z-index: 0;
  height: 55vh;
  gap: 1rem;
}

.container .form .inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: -20px;
}

.container .form .inputContainer label {
  display: block;
  margin-bottom: 7px;
  width: 100%;
  max-width: 400px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-align: start;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container .form .inputContainer input {
  width: 100%;
  max-width: 400px;
  height: 48px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: #fff;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 1.2rem;
}

.submitButton {
  padding: 15px 28px;
  background-color: #f27f0c;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.container .form .submitButton:hover {
  background-color: #f27f0c;
  opacity: 0.8;
  color: #ffffff;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .backButton {
    top: 1rem;
    left: 1rem;
    margin: 0;
  }

  .logoContainer {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  .formContainer {
    margin-top: 2rem;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 2.5rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    width: 100%;
  }

  .container .form {
    height: auto;
    max-width: 75%;
    width: 100%;
    flex-wrap: wrap;
  }

  .container .form .inputContainer {
    max-width: 100%;
    width: 100%;
  }

  .container .form .inputContainer label {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
  }

  .container .form .inputContainer input {
    width: 100%;
    max-width: 100%;
  }

  .container .form .submitButton {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    padding: 8px 20px;
  }

  .decorationTop {
    width: 130px;
    height: 130px;
    background: linear-gradient(
      152.49deg,
      #f27f0c -11.42%,
      rgba(242, 127, 12, 0) 118.1%
    );
    border-radius: 7.8rem 13.2rem 1.8rem;
    left: 0;
    top: 40%;
  }

  .decorationBottom {
    width: 130px;
    height: 130px;
    background: linear-gradient(
      152.49deg,
      #f27f0c -11.42%,
      rgba(242, 127, 12, 0) 118.1%
    );
    border-radius: 50px 70px 12px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    bottom: -2%;
    left: auto;
    right: 0;
  }
}
