.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  button[type="submit"] {
    background-color: #0070ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005c8c;
  }
  
  .paypal-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }