/*Estilos del componente title*/
.title-h1 {
    font-size: 50px;
    font-weight: 700;
    opacity: 85%;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-separator{
    height: 1px;
    width: 50%;
    background-color: orange;
    border: none;
    margin: auto;
    opacity: 100%;
}

.title-info-container{
    width: 70%; 
    height: auto;
    margin: 0 auto;
    padding: 25px;
    position: relative;
}

.title-info {
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    text-align: justify;
}

/*Responsive Web Design*/
@media  screen and (max-width: 820px) {
    .title-info-container{
        width: 90%; 
    }
    .title-separator{
        width: 90%;
    }
}  

@media screen and (max-width: 769px) {
    .title-h1 {
        font-size: 45px;
    }
}
  
@media screen and (max-width: 480px) {
    .title-h1 {
        font-size: 42px;
    }
    .title-info{
        font-size: 12px;
    }
}
  
