

.tour-title {
    text-align: start;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  

/*Responsive Web Design*/
@media screen and (max-width: 1100px) {
    .main-admin{
       width: 100%;
    } 
}