/*Estilos de Componente Cards*/
.container-cards {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrapper {
  width: 300px;
  margin: 10px;
  transition: all 300ms;
}

.card-wrapper:hover {
  width: 350px;
}

.card-wrapper .card-cover {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.card-wrapper .card-cover img {
  width: 200px;
  display: block;
  margin: auto;
  position: relative;
  z-index: 1;
  top: 50px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}

.card-wrapper:hover .card-cover img {
  top: 10px;
}

.card-wrapper .img-back {
  border-radius: 20px;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  background-size: cover;
  bottom: -70px;
  transition: all 300ms;
}

.card-wrapper:hover .img-back {
  bottom: -40px;
}

.card-wrapper:nth-of-type(1) .img-back {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/visuart-17959.appspot.com/o/sliderImages%2FimageBackCard.png?alt=media&token=eeab2ad1-9d05-4104-bc22-2517feff1646");
}

.card-wrapper .card-description {
  background: rgb(240, 191, 135);
  margin-top: -10px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
  font-weight: 200;
  font-size: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-wrapper:hover .card-description {
  padding: 40px;
}

.tour-title {
  text-align: start;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.fa-location-dot {
  font-size: 15px;
  padding: 10px;
}

.tour-location {
  text-align: start;
  font-size: 12px;
  font-weight: 500;
}

.tour-description {
  margin-bottom: 10px;
  font-weight: 500;
  text-align: start;
  font-size: 12px;
  text-align: justify;
}

.see-more-btn {
  padding: 8px 50px;
  margin-top: 20px;
  border: none;
  background-color: #f27f0c;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: -90px;
}

.see-more-btn:hover {
  background: #f7ad19;
}

/*Responsive Web Design*/
@media screen and (max-width: 320px) {
  .card-wrapper {
    width: 250px;
  }
  .card-wrapper:hover {
    width: 300px;
  }
  .card-wrapper .card-cover img {
    width: 150px;
    top: 90px;
  }
  .card-wrapper:hover .card-cover img {
    top: 60px;
  }
  .card-wrapper .card-description h2 {
    font-size: 18px;
  }
  .see-more-btn {
    margin-top: 10px;
    font-size: 12px;
    margin-left: -70px;
  }
}
