/*Estilos de Componente Cards*/
.container-cards {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card1 {
  width: 300px;
  margin: 10px;
  transition: all 300ms;
}

.card1:hover {
  width: 350px;
}

.card1 .cover1 {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.card1 .cover1 img {
  width: 200px;
  display: block;
  margin: auto;
  position: relative;
  z-index: 1;
  top: 40px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: all 400ms;
}

.card1:hover .cover1 img {
  top: 0px;
}

.card1 .img-back {
  border-radius: 20px;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  background-size: cover;
  bottom: -70px;
  transition: all 300ms;
}

.card1:hover .img-back {
  bottom: -40px;
}

.card1:nth-of-type(1) .img-back {
  background-image: url("/public/images/cards/bg1.jpg");
}

.card1 .description1 {
  background: rgb(240, 191, 135);
  margin-top: -10px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
  font-weight: 200;
  font-size: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card1:hover .description1 {
  padding: 40px;
}

.card1 .description1 h2 {
  text-align: start;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

.card1 .description1 p {
  margin-bottom: 10px;
  font-weight: 500;
  text-align: start;
}

.see-more {
  padding: 8px 50px;
  margin-top: 20px;
  border: none;
  background-color: #f27f0c;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: -90px;
}

.see-more:hover {
  background: #f7ad19;
}

/*Responsive Web Design*/
