/*Estilos Página Administrador*/
.main-admin{
    text-align: justify;
    padding: 50px;
    width: 100%;
    left: 0;
}


.main-admin.moved{
    margin-left: 300px;
    width: calc(100%-300px);
}

/*Responsive Web Design*/
@media screen and (max-width: 1100px) {
    .main-admin{
       width: 100%;
       margin-left: 0px;
    } 

}