/*Estilos de Componente Dropdown Menu*/
.dropdownnew {
  overflow: hidden;
  background-color: none;
  width: 300px;
  border-radius: 10px;
  border: 1px black;
  border-style: solid;
}

.dropdownnew .dropbtnnew {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 8px 16px;
  background-color: inherit;
}

.dropbtnnew {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 160px;
  align-items: center;
}

.dropdown-contentnew {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentnew a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentnew a:hover {
  background-color: #ddd;
}

.dropdownnew:hover .dropdown-contentnew {
  display: block;
}

/*Responsive Web Design*/
@media screen and (max-width: 769px) {
  .dropdown-contentnew a {
    font-size: 15px;
  }
  .dropdownnew .dropbtnnew {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .dropdown-contentnew a {
    font-size: 12px;
  }
  .dropdownnew .dropbtnnew {
    font-size: 12px;
  }
}

