/*Estilos del componente Navbar*/

/*Imagen Logo*/
.navbar-logo {
  justify-self: start;
  cursor: pointer;
  font-weight: bolder;
  height: 60px;
  width: auto;
}

/*Links*/
.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  width: 95%;
  height: 80px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

.navbar-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.navbar-links {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.navbar-links:hover {
  opacity: 70%;
}

.navbar-links-mobile {
  background: #1a3e5a;
  font-weight: 600;
  text-decoration: none;
  color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  flex: none;
  order: 4;
  flex-grow: 0;
  padding: 15px 60px;
}

.navbar-links-mobile-transparent {
  font-weight: bolder;
  text-decoration: none;
  color: #1a3e5a;
  border: 3px solid #1a3e5a;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.35));
  border-radius: 10px;
  flex: none;
  order: 4;
  flex-grow: 0;
  padding: 15px 60px;
}

.navbar-links-mobile:hover {
  background: #429ebd;
}

.navbar-links-mobile-transparent:hover {
  color: #429ebd;
  border: 3px solid #429ebd;
}

/*Icono menú hamburguesa*/
.fa-bars,
.fa-times {
  color: black;
  font-size: 30px;
}

.menu-hamburger {
  display: none;
}

/*Responsive Web Design*/
@media screen and (max-width: 1300px) {
  .navbar-links {
    font-size: 15px;
  }
  .navbar-links-mobile {
    font-size: 15px;
  }
  .navbar-links-mobile-transparent {
    font-size: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .navbar-items {
    z-index: 99;
  }
  .navbar-logo.active {
    content: url("https://firebasestorage.googleapis.com/v0/b/visuart-17959.appspot.com/o/LogosVisuArt%2FvisuartWhiteLogo.jpg?alt=media&token=05365733-124e-4a33-8558-8fa626bf6753");
  }
  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    width: 100%;
    height: auto;
    position: absolute;
    top: 8px;
    left: -110%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    border-radius: 10px;
  }
  .navbar-menu.active {
    left: 0%;
  }
  .navbar-links {
    background-color: #fff;
    display: block;
    widows: 100%;
    padding: 1rem 0;
    color: black;
    font-size: 20px;
  }
  .navbar-links:hover {
    opacity: 60%;
  }
  .menu-hamburger {
    display: block;
    color: white;
  }
  .navbar-links-mobile-transparent {
    padding: 1.5rem;
    text-align: center;
    border-radius: 0px;
    width: 100%;
    margin: auto;
    display: block;
    widows: 100%;
    color: black;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-weight: 700;
    font-size: 20px;
  }
  .navbar-links-mobile {
    padding: 1.5rem;
    text-align: center;
    border-radius: 0px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    display: block;
    widows: 100%;
    color: black;
    border: none;
    box-shadow: none;
    font-weight: 700;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-logo {
    width: 125px;
    height: auto;
  }
  .navbar-links {
    font-size: 14px;
    padding: 7px;
  }
  .navbar-links-mobile-transparent {
    font-size: 14px;
    padding: 7px;
  }
  .navbar-links-mobile {
    font-size: 14px;
    padding: 7px;
  }
}
