/*Estilos del componente Sidebar*/
.sidebar.actived {
  left: 0;
  transition: 850ms;
}

.sidebar {
  height: 100%;
  width: 300px;
  background-color: #f27f0c;
  position: fixed;
  transition: width 0.5s ease-in;
  top: 0;
  left: -100%;
  transition: 850ms;
  min-height: 1200px;
}

.container-12{
  z-index: 1;
}

.inactive {
  display: none;
  z-index: 0;
}

.icon {
  color: white;
}

.settings {
  position: absolute;
  width: 50px;
  top: 30px;
  left: 20px;
  border: none;
  background: none;
  z-index: 1;
}

.admin-profile {
  height: 10%;
  position: absolute;
  top: 10%;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
}

.introduction-text {
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  color: white;
  font-size: 15px;
}

.welcome-text {
  color: white;
  font-weight: 900;
}

.img {
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.sidebar-links {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.sidebar-links .link {
  width: 100%;
  height: 80px;
  color: white;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.sidebar-links .link:hover,
.admin-settings .link:hover {
  background-color: #f7ad19;
}

.link .icon {
  flex: 30%;
  font-size: 20px;
  display: grid;
  place-items: center;
}

.link .title {
  flex: 70%;
}

.admin-settings {
  height: auto;
  position: absolute;
  top: 60%;
  width: 100%;
  padding: 0;
}

.admin-settings .link {
  width: 100%;
  height: 40px;
  color: white;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/*Responsive Web Design*/
@media screen and (max-width: 769px) {
  .sidebar {
    font-size: 15px;
    width: 60%;
    overflow-y: auto;
    min-height: 900px;
    overflow: scroll;
    scroll-behavior: smooth;

  }
  .admin-profile {
    top: 6%;
  }
  .admin-settings{
    top: 70%;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    font-size: 12px;
    width: 100%;
  }
  .introduction-text{
    font-size: 12px;
  }
  .admin-profile {
    top: 4%;
    padding: 10px;
  }
  .admin-settings{
    top: 60%;
  }
  .sidebar-links .link {
    height: 50px;
  }
}

