.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff9ec;
  padding: 5rem 8rem;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.title {
  margin-top: 90px;
  display: flex;
  justify-content: flex-start;
}

.title h1 {
  font-size: 70px;
  font-weight: 700;
  color: #000000b2;
}

.subtitle {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  color: #000000b2;
  font-size: 20px;
  font-weight: 400;
}

.descripcion {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}

.leftParagraph,
.rightParagraph {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: justify;
}

.reservebt {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
}

.rating {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: #000000b2;
  font-size: 20px;
  font-weight: 400;
  flex-direction: row;
  height: fit-content;
  gap: 20px;
}

.rating .subtitle {
  color: #000000b2;
  font-size: 30px;
  font-weight: 700;
  height: 50px;
}

.rating .stars {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  vertical-align: middle;
  height: 50px;
  margin-bottom: -20px;
}

.buttonContainer {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.reserveButton {
  display: flex;
  justify-content: flex-start;
}

.reserveButton button {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  border-radius: 10px;
  background: #f27f0c;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
}

.cardContainer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 380px;
}

.infoContainer h2 {
  font-size: 35px;
  font-weight: 700;
  color: #000000b2;
  margin-bottom: 20px;
  width: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
    width: auto;
    height: auto;
  }
  .descripcion {
    flex-direction: column;
    align-items: flex-start;
  }

  .infoContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    height: auto;
    margin-top: 20px;
    width: 100%;
  }
}
