/*Estilos Página Principal*/
.cards-container {
  column-count: 2;
  column-gap: 3rem;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.search-container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.search-container .search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  gap: 6px;
  width: 400px;
  height: 45px;
  border-radius: 10px;
  border: 0.5px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 50px;
}

.tours-section {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.reviews {
  margin: auto;
  width: 70%;
  max-width: 1200px;
  text-align: center;
}
.landing-decoration1{
  position: absolute;
  width: 135px;
  height: 135px;
  background: linear-gradient(152.49deg, #F27F0C -11.42%, rgba(242, 127, 12, 0) 118.1%);
  border-radius: 50px 70px 12px;
  left: -15px;
  top: 943px;
}
.landing-decoration2{
  position: absolute;
  width: 135px;
  height: 135px;
  left: 60px;
  top: 150px;
  background: linear-gradient(152.49deg, #F27F0C -11.42%, rgba(242, 127, 12, 0) 118.1%);
  border-radius: 50px 70px 12px;
  transform: matrix(-0.4, 0.91, 0.91, 0.4, 0, 0);
}
.landing-decoration3{
  position: absolute;
  width: 135px;
  height: 135px;
  left: 55px;
  top: 870px;
  border-radius: 50px 70px 12px;
  transform: rotate(180);
  background: linear-gradient(152.49deg, #F27F0C -11.42%, rgba(242, 127, 12, 0) 118.1%);
  transform: matrix(0.51, 0.86, 0.86, -0.51, 0, 0);
}
.landing-decoration4{
  position: absolute;
  width: 135px;
  height: 135px;
  left: 850px;
  top: 870px;
  background: linear-gradient(152.49deg, #F27F0C -11.42%, rgba(242, 127, 12, 0) 118.1%);
  border-radius: 50px 70px 12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.landing-decoration5{
  position: absolute;
  width: 135px;
  height: 135px;
  left: 850px;
  top: 1700px;
  background: linear-gradient(152.49deg, #F27F0C -11.42%, rgba(242, 127, 12, 0) 118.1%);
  border-radius: 50px 70px 12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.landing-decoration6{
  position: absolute;
  width: 120px;
  height: 112px;
  left: 850px;
  top: 150px;
  background: linear-gradient(152.49deg, #F27F0C -11.42%, rgba(242, 127, 12, 0) 118.1%);
  border-radius: 50px 70px 12px;
  transform: rotate(55.01deg);
}
.landing-decoration7{
  position: absolute;
  width: 135px;
  height: 135px;
  left: 55px;
  top: 1700px;
  border-radius: 50px 70px 12px;
  transform: rotate(180);
  background: linear-gradient(152.49deg, #F27F0C -11.42%, rgba(242, 127, 12, 0) 118.1%);
  transform: matrix(0.51, 0.86, 0.86, -0.51, 0, 0);
}

.noresults-container{
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

.cards-noresults{
  font-size: 20px;
  font-weight: 700;
  opacity: 85%;
  height: 200px;
  margin-top: 50px;
}

/*Responsive Web Design*/
@media screen and (max-width: 1000px) {
  .search-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
  .search-container .search-bar {
    display: block;
    align-items: center;
  }
  .search-bar{
    text-align: center;
  }
  .search-btn {
    margin: 20px;
  }
  .search-bar input {
    width: 350px;
    margin: 20px;
  }
  .landing-decoration1, .landing-decoration2, .landing-decoration3, .landing-decoration4,.landing-decoration5 {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .search-container {
    text-align: center;
    width:80%;
    margin: 0 auto;
    text-align: center;
  }
  .search-bar input {
    width: 100%;
    margin: 0px auto;
    font-size: 12px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .search-bar input {
    font-size: 12px;
  }
  .reviews {
    width: 90%;
  }
}
