.App {
  text-align: center;
  background-color: #FFF9EC;
}

section {
  margin-top: 100px;
}

.cards-container{
  column-count: 2;
  column-gap: 3rem;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-v2{
  font-size: 50px;
  font-weight: 700;
  opacity: 70%;
  text-align: center;
  text-shadow: 0px 4px 30px rgba(0,0,0,0.4);
}

.reviews-btn {
  padding: 10px 40px;
  margin-top: 50px;
  border: none;
  font-weight: 900;
  background-color: #F27F0C;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 100px;
}

.reviews-btn:hover{
  background: #F7AD19;
}

.search-bar{
  padding: 20px;
  margin: auto;
  border-radius: 45px;
  width: 70%;
}


.search-bar input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 6px;
  width: 450px;
  height: 45px;
  border-radius: 10px;
  border: .5px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.orange-btn{
  padding: 10px 40px;
  margin-top: 50px;
  border: none;
  font-weight: 900;
  background-color: #F27F0C;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 100px;
}