* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  background-color: #fff9ec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-family: "Poppins", sans-serif;
}
